#accordion {
	/*background:#234 url(/images/h300.png) 0 0;*/
	width: 200px;
	/*border:1px solid #333;*/	
	-background:#666;
}

/* accordion header */
#accordion h2 {
	/*background:#ccc url(/img/global/gradient/h30.png);
	margin:0;*/
	padding:5px 15px;
	font-size:10px;
	font-weight:normal;
	/*border:1px solid #fff;
	border-bottom:1px solid #ddd;*/
	cursor:pointer;		
}

/* currently active header */
#accordion h2.current {
	cursor:default;
	/*background-color:#fff;*/
}

/* accordion pane */
#accordion .pane {
	/*border:1px solid #fff;
	border-width:0 2px;*/
	display:none;
	height:180px;
	padding:5px;
	color:#fff;
	font-size:15px;
}

/* a title inside pane */
#accordion .pane h3 {
	font-weight:normal;
	/*margin:0 0 -5px 0;*/
	font-size:16px;
	color:#999;
}
